/* variables bij oefening Fotografie */

// Kleuren

$wit: white;
$licht: #F1F1F1;
$medium: #999;
$donker: #333;
$zwart: black;
$accent : red;

// Fonts

$hoofdfont: Poppins, Arial, sans-serif;

// Beeldschermen

$smal-scherm: 480px;
$medium-scherm: 600px;
$breed-scherm: 1400px;